@model PostViewModel

<div class="card mb-4">
    <div class="card-header text-center">
        <h4 class="card-title">@Model.Topic</h4>
        <h6 class="card-subtitle mb-2 text-body-secondary">Ecrit par @Model.Author</h6>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Content</p>

    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <div>
            <p class="my-2">Modifié le @Model.UpdatedAt.ToShortDateString() à @Model.UpdatedAt.ToShortTimeString()</p>

        </div>
        <a class="btn btn-primary" asp-controller="Post" asp-action="Detail" asp-route-id="@Model.Id">Voir les Details</a>
    </div>
</div>
