@model List<PostViewModel>
@{
    ViewData["Title"] = "Articles";
}

<a class="btn btn-primary" asp-action="Add">Create</a>


@foreach (var post in Model)
{
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
    <p>@post.Topic</p>
    <p>@post.Author</p>
    <p>@post.Content</p>
    <p>@post.UpdatedAt</p>
    @if (post.CommentViewModels is not null)
    {
        @foreach (var comment in post.CommentViewModels)
        {
            <dd><p>@comment.Author</p></dd>
            <dd><p>@comment.Content</p></dd>
            <dd><p>@comment.UpdatedAt</p></dd>
            <dd><hr /></dd>
        }
    }
    <hr />
}