@model PostViewModel

<div class="container">
    <p>@Model.Id</p>
    <p>@Model.Topic</p>
    <p>@Model.Author</p>
    <p>@Model.Content</p>
    <p>@Model.UpdatedAt</p>
    <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    <hr/>
    <a class="btn btn-primary" asp-controller="Comment" asp-action="Add" asp-route-postId="@Model.Id">Add Comment</a>
    <vc:comment-list comment-view-models="@Model.CommentViewModels"/>
</div>